.blog-heading {
    text-align: center !important;
}

.col-lg-8.col-lg-offset-2,
.col-md-10.col-md-offset-1 {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}